body{
    padding: 0px;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 0px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
h3{
    text-align: center;
    color: white;
}
.bend{
    color:white;
    text-align: center;
    text-shadow: 5px 2px 4px black;
    font-size: 65px;
    font-style: sans-serif;
}
.container{
    background:#333;
    width: 100%;
    border:0px #fff;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
span{
    color: #333;
    font-size: 3em
}
p{
    text-indent: 25px;
    color: #333;
    font-family: sans-serif;
    font-size: 15pt;
}
h2{
    text-align: center;
    text-shadow: black;
    font-size: 40px;
    text-decoration: underline;
    text-shadow: 5px 2px 4px white;
    cursor: pointer;
}
.boxmodel{
    width: 150px;
    height:100px;
}
img{
    width: 350px;
    height: 250px;
    transition: all 1s;

}
.container1{
    display:flex;
    flex-wrap: wrap;
    justify-content:center; 
}
table {
    width: 100%;
    font-size: 25pt;
    font-weight: bolder;
}
table, th, td {
    border: 3px solid #cecece;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
     font-size: 25pt;
    font-weight: bolder;

}
.nice{
    text-align: center;
    font-size: 40px;
}
.copyright{
    font-size: 8pt;
    text-align: center;
    padding-bottom: 10px;
    color: black;
    cursor: pointer;
}